.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;


/*shared styles*/
main{
    width: 1200px;
    margin-left: 152px;
    margin-right: 152px;
}

.box{
    background-image: url(/B10A1-Challenge-Begins/assets/Hero-bg.png);
    width: 1200px;
    height: 500px;
}

.content-work{
    background-color: #90acd6;
}
.new-content{
    text-align: center;
}
/* .content-parents{
    background-color: #FFFFFF; */
}

.new-content .h2{
    font-weight: 800px;
    font-size: 32px;
}
.content-parents{
    display: flex;
}
.container{
    
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    /* background: red; */
    margin: auto;
    
}

.btn-primary{
    font-weight: 600; 
    background-color: #0D1321; 
    color:#FFFFFF;
    padding: 17px 45px;
    border-radius: 5px;
}

.container .h2{
    font-weight: 800px;
    font-size: 32px;
}

.text-content{
    width: 50%;
}
.image-content{
    width: 50%;
}
.content-parents-2{
    display: flex;
}
.text-content-2{
    width: 50%;
}

.image-content-2{
   width: 50%;
}


.content-parents-3{
    display: flex;
}

.text-content-3{
    width: 50%;
}
.image-content-3{
    width: 50%;
}

.content-text{
    text-align: center;
}
.video-container,.video{
    background: #000;
    width: 800px; 
    height:400px; 
    margin:auto;
}
.content-text-web{
    text-align: center;
}
.content-parents-4{
    display:flex;
    justify-content: center;
   
}
.image-content-5,.image-content-6{
    margin-left: 20px;
}


.content-box-2{
    background-image: url(/B10A1-Challenge-Begins/assets/handshake.jpg);
    width: 1200px;
    height: 550px;
}
.content-text-8{
    
    text-align: center;
    padding: 64px 145px 205px 205px;
    margin-top: 150px;

}
/* .content-text-8 .h3{ */
h3{
    font-weight: bold;
font-size: 32px;
color:#FFFFFF;
}

.iamge-content-4 .content-text-4{
    background-color: #FF4C1E;
}

/* p{
    font-size: 16px;
    color:#FFFFFF;
} */


/* content-text-8
.content-text-8{
    padding: 192px 64px 228px 228px;
    gap: 16px; */

.input-type-text{
    text-align: center;
}

.contact{
    font-weight: 600;  
    color: #0D1321;
    padding:  20px 215px 19px 19px ;
    border-radius: 5px
}
.subtitle{
    
    font-weight: 500px;  
    color: #0D1321;
    padding: 25px 25px 17px 17px;
    border-radius: 5px;
}
.image-link{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
/* .icon-item li{
    display: flex;
    justify-content: space-between;
    list-style: none;

} */
 ul{
display: flex;

 }

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}